:root{
--bg:#f4f6f8;
--card:#ffffff;
--text:#1e293b;
--primary:#530F0A;
--accent:#ff6b57;
--border:#e5e7eb;
}

.dark{
--bg:#140504;
--card:#2a0b09;
--text:#f1f5f9;
--border:#3a1a18;
}

body{
margin:0;
padding:24px;
font-family:Segoe UI, Arial, sans-serif;
background:var(--bg);
color:var(--text);
transition:.35s;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:24px;
}

.header h2{
color:var(--primary);
margin:0;
}

.header-right{
display:flex;
gap:12px;
align-items:center;
}

/* BOTÕES */

.btn{
background:var(--primary);
color:#fff;
border:none;
padding:10px 16px;
border-radius:10px;
font-weight:700;
cursor:pointer;
}

.themeToggle{
font-size:20px;
cursor:pointer;
background:var(--card);
border:1px solid var(--border);
padding:8px 12px;
border-radius:10px;
transition:.25s;
}

.themeToggle:hover{
transform:scale(1.08);
}

/* KPI GRID */

.kpiGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:18px;
margin-bottom:18px;
}

.kpiCard{
background:var(--card);
border-radius:16px;
padding:18px;
box-shadow:0 6px 18px rgba(0,0,0,.06);
border:1px solid var(--border);
transition:.35s;
}

.kpiTitle{
font-size:14px;
opacity:.7;
}

.kpiValue{
font-size:30px;
font-weight:800;
color:var(--primary);
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:18px;
}

.card{
background:var(--card);
border-radius:16px;
padding:18px;
box-shadow:0 6px 18px rgba(0,0,0,.06);
border:1px solid var(--border);
transition:.35s;
}

.card:hover{
transform:translateY(-4px);
box-shadow:0 12px 26px rgba(0,0,0,.12);
}

/* FILTRO */

.filterBlock{
background:var(--card);
border:1px solid var(--border);
padding:16px;
border-radius:14px;
margin-bottom:18px;
font-weight:600;
}

select{
padding:8px 12px;
border-radius:8px;
border:1px solid var(--border);
}

/* CANVAS */

canvas{
height:260px !important;
}

/* ANIMAÇÃO UPDATE */

.updating{
opacity:.45;
transform:scale(.97);
filter:blur(1px);
}

/* TRANSIÇÕES */

.card,
.kpiCard,
canvas{
transition:.35s ease;
}

.loginScreen{
position:fixed;
inset:0;
background:#0f172a;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
}

.loginBox{
background:white;
padding:32px;
border-radius:16px;
display:flex;
flex-direction:column;
gap:12px;
width:280px;
box-shadow:0 20px 40px rgba(0,0,0,.3);
}

.loginBox input{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

.loginBox button{
padding:12px;
border:none;
border-radius:10px;
font-weight:700;
background:#530F0A;
color:white;
cursor:pointer;
}

.btnLogout{
background:#530F0A;
color:white;
border:none;
padding:10px 14px;
border-radius:10px;
font-weight:700;
cursor:pointer;
transition:.2s;
}

.btnLogout:hover{
transform:translateY(-2px);
opacity:.9;
}
